.calc {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: #e6e6fa;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.calc input {
  width: 50px;
  height: 30px;
}

.answ {
  display: flex;
}
